$font-inter : 'Inter';

$color__black:          #000000;
$color__white:          #ffffff;
$color__red:            #F04135;
$color__yellow:         #FFF200;
$color__dark__yellow:   #FFC329;
$color__ash:            #F2F2F2;