// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

//display div as a table
@mixin table_display {
    display: table-cell;
    vertical-align: top;
}

@mixin tablet-xl {
    @media screen and (max-width: 991px) {
        @content;
    } 
}

@mixin tablet {
    @media screen and (max-width: 767px) {
        @content;
    } 
}

@mixin mobile {
    @media screen and (max-width: 450px) {
        @content;
    } 
}
@mixin xsm-devices {
    @media screen and (min-width: 480px) {
        @content;
    } 
}
@mixin sm-devices {
    @media screen and (min-width: 576px) {
        @content;
    }
}
@mixin md-devices {
    @media screen and (min-width: 768px) {
        @content;
    }
}
@mixin lg-devices {
    @media screen and (min-width: 992px) {
        @content;
    }
}
@mixin tab-devices {
    @media screen and (min-width: 1024px) {
        @content;
    }
}
@mixin xl-devices {
    @media screen and (min-width: 1200px) {
        @content;
    }
}
@mixin xxl-devices {
    @media screen and (min-width: 1400px) {
        @content;
    }
}
@mixin xxxl-devices {
    @media screen and (min-width: 1900px) {
        @content;
    }
}

// Center block
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
// Display Inline Block and align Center
@mixin inline-flex-center {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
// Text Gradient
@mixin gradient-text($position, $gradient-start, $gradient-end) {
    background: linear-gradient($position, $gradient-start, $gradient-end);
    background: -webkit-linear-gradient($position, $gradient-start, $gradient-end);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
// Background gradient
@mixin theme-gradient($position, $gradient-start, $gradient-end) {
    background: linear-gradient($position, $gradient-start, $gradient-end);
    background: -webkit-linear-gradient($position, $gradient-start, $gradient-end);
}

// With and Height
@mixin width-height($width, $height) {
    width: $width;
    height: $height;
}
// Border
@mixin border($width, $style, $color) {
    border: $width $style $color;
}
// Background Color, text color, and Radius
@mixin bg-color-radius($background_color, $color, $radius){
    background-color: $background_color;
    color: $color;
    border-radius: $radius;
}

